name: Mirror to Gitlab
on:
  push:
    branches: [main]

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
     - uses: actions/checkout@v4
       with:
         fetch-depth: 0
     - run: |
         git remote add gitlab https://oauth2:${{ secrets.GITLAB_TOKEN }}@solaire.cs.csub.edu/gitlab/travyl/travyl-frontend.git
         git push gitlab main --force
